html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#playerIcon {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    z-index: 1;
}

#healthBar {
    position: absolute;
    top: 10px;
    left: 37px;
    width: 150px;
    height: 18px;
    background-color: #747272;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
    border-radius: 0px 20px 0px 0px;
}

#healthBarFill {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(13, 151, 0);
    transition: width 0.2s linear;
    border-radius: 0px 20px 0px 0px;
}

#staminaBar {
    position: absolute;
    top: 36px;
    left: 37px;
    width: 150px;
    height: 18px;
    background-color: #747272;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
    border-radius: 0px 0px 20px 0px;
}

#staminaBarFill {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(6, 1, 247);
    transition: width 0.2s linear;
    border-radius: 0px 0px 20px 0px;
}

#xpBar {
    position: absolute;
    top: 27px;
    left: 40px;
    width: 147px;
    height: 10px;
    background-color: #747272;
    border: 2px solid whitesmoke;
    box-sizing: border-box;
}

#xpBarFill {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(116, 6, 167);
    transition: width 0.2s linear;
}

#player {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(2);
    background-image: url("sprites/swordsMan/Swordsman_lvl3_Idle_without_shadow.png");
    background-repeat: no-repeat;
    image-rendering: pixelated;
    z-index: 10;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 300000px;
    height: 300000px;
    overflow: hidden;
    z-index: 1;
    background-color: black;
}


#tile1{
    height: 50px;
    width: 50px;
    transform: scale(5);
    z-index: 1;
}

#ui {
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; 
    z-index: 9999; /* or any high number */ 
    pointer-events: none; /* optional: lets clicks pass through */
}

.sprite {
    position: absolute;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    transform: scale(4);
    transform-origin: top left;
}


